@model StoreApp.DataAccess.BusinessModels.Order

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>
</div>
<thead>
    @foreach (var item in Model.EnumerableItems)
    {
        <tr class="row">
            <td>
                <b>Product Id:</b> @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                <b>Description:</b> @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                Quantity: @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }
</thead>
        <div>
            <a asp-action="History">Back to List</a>
        </div>
