@model StoreApp.DataAccess.BusinessModels.Store

@{
    ViewData["Title"] = "History";
}

<h1 class="text-center">History</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr class="thead-dark">
            <th>
                Store Id:
            </th>
            <th>
                Transaction Number
            </th>
            <th>
                Transaction Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrderEnumerable)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.ActionLink("Details", "HistoryDetails", new { id = item.TransactionNumber })
                </td>

            </tr>
        }
    </tbody>

</table>

