@model IEnumerable<StoreViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center">
    @{if (!String.IsNullOrEmpty(Context.Session.GetString("Name")))
        { <h1> Welcome @Context.Session.GetString("Name")</h1> } }
</div>

    <h1 class="text-lg-center">Store App Home</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Filter By Store Name: @Html.TextBox("SearchString")
            <input type="submit" value="Filter" />
        </p>
    }
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.StoreId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zip)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zip)
                    </td>
                    <td>
                        <a asp-action="History" asp-route-id="@item.StoreId">History</a> |
                        <a asp-controller="Inventories" asp-route-id="@item.StoreId">Make Order</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <cache enabled="true">
        Last Time This Website Was Accessed: @DateTime.Now
    </cache>
