@model StoreApp.Webapp.Services.Serialize

@{
    ViewData["Title"] = "CheckOut";
}

<h1>CheckOut</h1>


<table class="table  table-striped ">
          <caption>Checkout</caption>
    <thead class = "thead-dark">
    <tr>
        <th>
            Product ID:
        </th>
        <th>
            Quantity:
        </th>
        <th>
            Name::
        </th>
        <th>
            Price:
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderEnumberable)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

        </tr>
    }
    </tbody>
</table>
<div>
    <b>Cost: </b> @Html.DisplayFor(Model => Model.Cost)
</div>
<form asp-action="Checkout">
    <input type="submit" value="Checkout" class="btn btn-primary" />
</form>